{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La boutique E-Commerce{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique E-Commerce</strong>
            <hr>
            Tel : 06 20 30 40 50</br>
            Adresse : 20, Rue du commerce, 63000 Clermont-Ferrand.</br>
            mail : contact@live.be
        </div>
    </div>

{% endblock %}
